.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

    .map-point {
      position: absolute;
      width: 16px;
      height: 16px;
      background: #2f7d2f;
      border: 2px solid white;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        transform: translate(-50%, -50%) scale(1.4);
        background: #4CAF50;
      }
    }
}
