html {
  width: 100%;
  height: 100%;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  background-color: #1f1f2d;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  margin: 0;
  overflow: hidden;
}

.home-page {
  display: flex;
  margin: 0;

  .map-section {
    flex: 1;
  }
}